<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title> Index </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <h1>
        <b>{{ title }} </b>
    </h1>

  

    <table class="table table-hover table-dark">
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>

        {% for timeslots in timeslot %}
        <tr>

            <td>{{ timeslots.Sunday }}</td>
            <td>{{ timeslots.Monday }}</td>
            <td>{{ timeslots.Tuesday }}</td>
            <td>{{ timeslots.Wednesday }}</td>
            <td>{{ timeslots.Thursday }}</td>
            <td>{{ timeslots.Friday }}</td>
            <td>{{ timeslots.Saturday }}</td>
            <td>{{ timeslots.startTime }}</td>
            <td>{{ timeslots.endTime }}</td>

            <td>
                <a href="/update/{{timeslots.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{timeslots.id}}">Update</a>
                <a href="/delete/{{timeslots.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Confirm Delete?')">Delete</a>
            </td>
        </tr>

        <div id="modaledit{{timeslots.id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Timeslot</h4>
                    </div>
                    <div class="modal-body">

                        <form action="{{url_for('update')}}" method="POST">
                            <div class="form-group">
                                <label>Start Time:</label>
                                <input type="hidden" name="id" value="{{timeslots.id}}">
                                <input type="text" class="form-control" name="startTime" value="{{timeslots.startTime}}">
                            </div>

                            <div class="form-group">
                                <label>End Time:</label>
                                <input type="text" class="form-control" name="endTime" value="{{timeslots.endTime}}">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">update</button>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </table>








</body>

<a href="{{ url_for('create') }}" class="btn btn-success"> Add</a>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>