<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>{{ title }}</title>

</head>
<body>

	<h2>
		<b>{{ title }} </b>
	</h2>

	<table class="table table-bordered table-dark">
		<tr>

			<form method="POST" action="/update/{{timeslot.id}}">
			
				<td>Monday<input type="hidden" name="Monday" > <input
					type="checkbox" name="Monday" value="true"></td>

				<td>Tuesday<input type="hidden" name="Tuesday" > <input
					type="checkbox" name="Tuesday" value="true"></td>

				<td>Wednesday<input type="hidden" name="Wednesday" > <input
					type="checkbox" name="Wednesday" value="true"></td>

				<td>Thursday<input type="hidden" name="Thursday" > <input
					type="checkbox" name="Thursday" value="true"></td>

				<td>Friday<input type="hidden" name="Friday" > <input
					type="checkbox" name="Friday" value="true"></td>

				<td>Saturday<input type="hidden" name="Saturday" > <input
					type="checkbox" name="Saturday" value="true"></td>

				<td>Sunday<input type="hidden" name="Sunday" > <input
					type="checkbox" name="Sunday" value="true"></td>
					
				<td><input name="startTime" class="form-control" type="text"
					value={{timeslot.startTime}}></td>
				<td><input name="endTime" class="form-control" type="text"
					value={{timeslot.endTime}}></td>
				<td><input type="submit" class="form-control" value="Update"></td>
		</tr>
	</table>
	</form>

	<a href="{{ url_for('index') }}" class="btn btn-success">Home</a>

<!-- 	Optional JavaScript
	jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</body>
</html>